@import "tailwindcss/base";

@import "@transferwise/icons/lib/styles/main.min.css";
@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
  *,
  ::before,
  ::after {
    border-color: theme("borderColor.DEFAULT", currentColor);
  }

  ::before,
  ::after {
    --tw-content: "";
  }

  html {
    @apply bg-background-screen font-sans text-base text-content-secondary;
    -webkit-tap-highlight-color: transparent;
  }
}
